@font-face {
  font-family: 'ClearSans';
  src: url("../fonts/ClearSans-Light/ClearSans-Light_gdi.eot");
  src: url("../fonts/ClearSans-Light/ClearSans-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSans-Light/ClearSans-Light_gdi.woff") format("woff"), url("../fonts/ClearSans-Light/ClearSans-Light_gdi.ttf") format("truetype"), url("../fonts/ClearSans-Light/ClearSans-Light_gdi.svg#ClearSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2666; }
@font-face {
  font-family: 'ClearSans';
  src: url("../fonts/ClearSans-Regular/ClearSans_gdi.eot");
  src: url("../fonts/ClearSans-Regular/ClearSans_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSans-Regular/ClearSans_gdi.woff") format("woff"), url("../fonts/ClearSans-Regular/ClearSans_gdi.ttf") format("truetype"), url("../fonts/ClearSans-Regular/ClearSans_gdi.svg#ClearSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2666; }
@font-face {
  font-family: 'ClearSans';
  src: url("../fonts/ClearSans-Medium/ClearSans-Medium_gdi.eot");
  src: url("../fonts/ClearSans-Medium/ClearSans-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSans-Medium/ClearSans-Medium_gdi.woff") format("woff"), url("../fonts/ClearSans-Medium/ClearSans-Medium_gdi.ttf") format("truetype"), url("../fonts/ClearSans-Medium/ClearSans-Medium_gdi.svg#ClearSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2666; }
@font-face {
  font-family: 'ClearSans';
  src: url("../fonts/ClearSans-Bold/ClearSans-Bold_gdi.eot");
  src: url("../fonts/ClearSans-Bold/ClearSans-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSans-Bold/ClearSans-Bold_gdi.woff") format("woff"), url("../fonts/ClearSans-Bold/ClearSans-Bold_gdi.ttf") format("truetype"), url("../fonts/ClearSans-Bold/ClearSans-Bold_gdi.svg#ClearSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2666; }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@keyframes scaleUp {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
.scaleUp {
  -webkit-animation-name: scaleUp;
  animation-name: scaleUp; }

@keyframes slideDown {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
@keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft; }

@-webkit-keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
@keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight; }

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/* Bounce Out */
.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .hvr-rectangle-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
    color: white; }
    .hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
      -webkit-transform: scale(0);
      transform: scale(0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  min-width: 1020px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "ClearSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  background: #fff; }

.container {
  width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #0d80e6;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 700; }

h2 {
  font-size: 38px;
  line-height: 40px;
  position: relative;
  text-align: center;
  margin-bottom: 45px;
  padding-bottom: 30px; }
  h2:before {
    left: 50%;
    bottom: 0;
    width: 165px;
    height: 3px;
    content: ' ';
    margin-left: -83px;
    position: absolute; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-red {
  color: #cb1a1a; }

.done {
  width: 100%;
  height: 100%;
  position: relative;
  display: table; }
  .done body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table-cell;
    position: relative;
    background: #f3f0e9;
    vertical-align: middle; }
  .done .done__head {
    font-size: 60px;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .done .done__title {
    font-size: 45px;
    margin-bottom: 20px; }
  .done .done__text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 40px; }

.btn {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 16px 20px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    color: #fff;
    text-decoration: none; }
  .btn:active {
    top: 1px; }

.btn-green {
  background: #b2c972; }
  .btn-green:hover {
    background: #c6e07c; }

.btn-mini-green {
  font-size: 15px;
  padding: 11px 10px;
  background: #b2c972; }
  .btn-mini-green:hover {
    background: #c6e07c; }
  .btn-mini-green:active {
    top: auto; }

.btn-circle {
  font-size: 13px;
  padding: 11px 20px;
  background: #b2c972;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  border-radius: 22px; }
  .btn-circle:hover {
    background: #c6e07c; }

.btn-border-green {
  width: 100%;
  background: #fff;
  padding: 9px 10px;
  color: #b2c972;
  border: 2px solid #b2c972; }
  .btn-border-green:hover {
    color: #fff;
    background: #b2c972; }

.btn-border-gray {
  color: #000;
  width: 100%;
  display: none !important;
  padding: 10px 10px;
  border: 1px solid #c4c4c4; }
  .btn-border-gray:hover {
    background: #c4c4c4; }

.form {
  color: #000;
  background: #fff;
  text-align: center; }
  .form .form-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    margin: 0 -10px 20px -10px; }
  .form .btn {
    width: 100%;
    margin-top: 8px; }
  .form .sup {
    font-size: 11px;
    font-weight: 600;
    text-align: left;
    line-height: 16px;
    padding-left: 25px;
    margin-top: 10px;
    background: url("../img/icon-safe.png") 0 0 no-repeat; }
    .form .sup.sup-mail {
      background: url("../img/icon-sup-mail.png") 0 50% no-repeat; }
    .form .sup a {
      color: #359bc6;
      text-decoration: none; }

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #595959;
  font-size: 17px;
  background: #fff;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  border: 1px solid #a8abaf;
  padding: 10px 10px 10px 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .form-control::-moz-placeholder {
    color: #595959;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #595959; }
  .form-control::-webkit-input-placeholder {
    color: #595959; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }
  .form-control.form-name {
    background: url("../img/icon_user.png") 12px 50% no-repeat; }
  .form-control.form-phone {
    background: url("../img/icon_phone.png") 12px 50% no-repeat; }
  .form-control.form-email {
    background: url("../img/icon_email.png") 12px 50% no-repeat; }

.red .form-control {
  border-color: #ff0000; }
  .red .form-control.invert {
    border-color: #ff0000; }

.form-group {
  position: relative;
  margin-bottom: 12px; }

.modal-box {
  color: #000;
  width: 360px;
  background: #fff;
  padding: 30px 30px 20px 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }
  .modal-box .form-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 0 -15px 20px -15px; }
    .modal-box .form-title span {
      display: block;
      font-size: 19px;
      line-height: 26px; }
  .modal-box .form-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 -10px 20px -10px; }
  .modal-box .form-source {
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none; }
    .modal-box .form-source li {
      color: #000;
      font-size: 14px;
      line-height: 18px;
      padding: 3px 0 3px 40px;
      position: relative;
      margin-bottom: 5px; }
      .modal-box .form-source li:before {
        top: 2px;
        left: 10px;
        width: 21px;
        height: 21px;
        content: ' ';
        position: absolute;
        background: url("../img/icon-check.png") 0 0 no-repeat; }
      .modal-box .form-source li strong {
        text-transform: uppercase; }

.btn_close {
  top: -10px;
  right: -84px;
  width: 57px;
  height: 57px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon_close.png") 0 0 no-repeat; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.b01 {
  color: #fff;
  height: 650px;
  padding-top: 15px;
  background: url("../img/b01_bg.jpg") top center no-repeat; }
  .b01 .top {
    margin-bottom: 20px; }
    .b01 .top .logo {
      float: left;
      width: 155px; }
    .b01 .top .contact {
      width: 275px;
      float: right;
      text-align: right; }
      .b01 .top .contact .top-phone {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 15px;
        display: inline-block;
        text-decoration: none; }
      .b01 .top .contact .top-mail {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        position: relative;
        margin-bottom: 20px;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px dashed #fff; }
        .b01 .top .contact .top-mail:before {
          top: 6px;
          left: -20px;
          width: 15px;
          height: 11px;
          content: ' ';
          position: absolute;
          background: url("../img/icon-mail.png") 0 0 no-repeat; }
        .b01 .top .contact .top-mail:hover {
          border-bottom-color: transparent; }
    .b01 .top .top-text {
      font-size: 31px;
      font-weight: 700;
      line-height: 38px;
      text-align: center;
      margin-bottom: 10px; }
    .b01 .top .top-text-small {
      font-size: 12px;
      text-align: center; }
  .b01 .topnav {
    margin-bottom: 25px;
    border-top: 1px solid #4d5055;
    border-bottom: 1px solid #4d5055; }
    .b01 .topnav ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      list-style: none; }
    .b01 .topnav li {
      text-align: center;
      display: table-cell; }
    .b01 .topnav a {
      color: #fff;
      height: 48px;
      font-size: 16px;
      padding: 10px 0;
      line-height: 21px;
      margin-bottom: -1px;
      display: inline-block;
      text-decoration: none;
      border-top: 3px solid transparent;
      border-bottom: 4px solid transparent; }
      .b01 .topnav a:hover {
        border-bottom-color: #b2c972; }
  .b01 .b01-text {
    float: left;
    width: 600px;
    padding-top: 25px; }
    .b01 .b01-text h1 {
      font-size: 37px;
      font-weight: 700;
      line-height: 45px;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .b01 .b01-text .blue-text {
      color: #fff;
      width: 540px;
      height: 42px;
      font-size: 19px;
      font-weight: 300;
      line-height: 36px;
      padding: 3px 10px 3px 20px;
      position: relative;
      background: #64a9df; }
      .b01 .b01-text .blue-text:before {
        top: 0;
        right: -41px;
        content: '';
        position: absolute;
        border: 21px solid transparent;
        border-left: 20px solid #64a9df; }
  .b01 .b01-form {
    width: 330px;
    float: right;
    background: #fff;
    padding: 25px 20px; }
  .b01 .paint-block {
    left: 20px;
    bottom: -180px;
    width: 373px;
    height: 234px;
    content: ' ';
    z-index: 100;
    position: absolute;
    background: url("../img/b01_img.png") 0 0 no-repeat; }

.b02 {
  padding-top: 100px;
  padding-bottom: 50px;
  background: url("../img/b02_bg.jpg") top center no-repeat; }
  .b02 h2:before {
    background: #87c8d3; }
  .b02 .product {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    list-style: none; }
    .b02 .product li {
      color: #115b67;
      cursor: pointer;
      min-width: 120px;
      text-align: center;
      padding-top: 140px;
      display: table-cell;
      position: relative; }
      .b02 .product li > span {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        border-bottom: 1px dotted #115b67; }
      .b02 .product li:hover .circle {
        display: table; }
      .b02 .product li.item1 {
        background: url("../img/b02_item1.png") top center no-repeat; }
        .b02 .product li.item1:before {
          top: -90px;
          left: -5px;
          content: '';
          width: 78px;
          height: 102px;
          position: absolute;
          background: url("../img/push.png") 0 0 no-repeat; }
      .b02 .product li.item2 {
        background: url("../img/b02_item2.png") top center no-repeat; }
      .b02 .product li.item3 {
        background: url("../img/b02_item3.png") top center no-repeat; }
      .b02 .product li.item4 {
        background: url("../img/b02_item4.png") top center no-repeat; }
      .b02 .product li.item5 {
        background: url("../img/b02_item5.png") top center no-repeat; }
      .b02 .product li.item6 {
        background: url("../img/b02_item6.png") top center no-repeat; }
      .b02 .product li .circle {
        top: 50%;
        left: 50%;
        width: 240px;
        height: 240px;
        display: none;
        z-index: 50;
        background: #fff;
        position: absolute;
        margin-top: -160px;
        margin-left: -120px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
        .b02 .product li .circle span {
          width: 190px;
          height: 190px;
          font-size: 12px;
          padding: 0 20px;
          font-weight: 400;
          line-height: 16px;
          text-align: center;
          display: table-cell;
          vertical-align: middle; }

.b03 {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 30px; }
  .b03 h2:before {
    background: #b2c972; }
  .b03 .text {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 45px; }
  .b03 .advantage {
    padding: 0;
    list-style: none;
    margin: 0 -15px 30px -15px; }
    .b03 .advantage li {
      width: 33.33%;
      float: left;
      padding: 0 15px; }
    .b03 .advantage .advantage-header {
      color: #000;
      width: 277px;
      height: 233px;
      display: table;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      padding-top: 173px;
      margin: 0 auto 25px auto; }
      .b03 .advantage .advantage-header.item1 {
        background: url("../img/b03_item1.png") top center no-repeat; }
      .b03 .advantage .advantage-header.item2 {
        background: url("../img/b03_item2.png") top center no-repeat; }
      .b03 .advantage .advantage-header.item3 {
        background: url("../img/b03_item3.png") top center no-repeat; }
      .b03 .advantage .advantage-header.item4 {
        background: url("../img/b03_item4.png") top center no-repeat; }
      .b03 .advantage .advantage-header.item5 {
        background: url("../img/b03_item5.png") top center no-repeat; }
      .b03 .advantage .advantage-header.item6 {
        background: url("../img/b03_item6.png") top center no-repeat; }
      .b03 .advantage .advantage-header span {
        padding-left: 10px;
        display: table-cell;
        vertical-align: middle; }
    .b03 .advantage .advantage-title {
      color: #000;
      font-size: 23px;
      font-weight: 700;
      line-height: 28px;
      text-align: center;
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 15px; }
      .b03 .advantage .advantage-title:before {
        left: 50%;
        bottom: 0;
        width: 48px;
        height: 3px;
        content: '';
        margin-left: -24px;
        position: absolute;
        background: #b2c972; }
    .b03 .advantage .advantage-text {
      font-size: 14px;
      line-height: 24px;
      text-align: center; }

.b04 {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 7px solid #e1dfc6;
  background: #7cdceb url("../img/b02_bg.jpg") top center no-repeat; }
  .b04 h2 {
    color: #115b67;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
    padding-bottom: 35px; }
    .b04 h2:before {
      background: #87c8d3; }
  .b04 .text {
    color: #115b67;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .b04 .showcase {
    padding: 0;
    list-style: none;
    margin: 0 -8px 30px -8px; }
    .b04 .showcase > li {
      width: 25%;
      float: left;
      position: relative;
      padding: 77px 8px 10px 8px; }
    .b04 .showcase .product {
      height: 470px;
      background: #fff;
      position: relative;
      padding: 10px 15px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .b04 .showcase .product:hover {
        margin-top: -5px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.3); }
      .b04 .showcase .product .product-image {
        margin-top: -87px;
        text-align: center;
        margin-bottom: 15px; }
      .b04 .showcase .product .product-name {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-bottom: 20px; }
      .b04 .showcase .product .product-text {
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 20px; }
        .b04 .showcase .product .product-text:before {
          left: 50%;
          bottom: 0;
          width: 48px;
          height: 3px;
          content: '';
          margin-left: -24px;
          position: absolute;
          background: #b2c972; }
      .b04 .showcase .product .product-detail {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 10px; }
        .b04 .showcase .product .product-detail ul {
          margin: 0;
          padding: 10px 0;
          list-style: none; }
          .b04 .showcase .product .product-detail ul li {
            margin-bottom: 5px; }
            .b04 .showcase .product .product-detail ul li span {
              padding-left: 22px;
              display: inline-block;
              background: url("../img/icon-ok.png") 0 50% no-repeat; }
      .b04 .showcase .product .tips {
        top: 110px;
        left: 16px;
        width: 120px;
        height: 44px;
        padding: 10px;
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        position: absolute;
        background: url("../img/tips.png") 0 0 no-repeat; }
      .b04 .showcase .product .form-group {
        left: 15px;
        right: 15px;
        bottom: 15px;
        position: absolute; }
  .b04 .showcase-more {
    color: #fff;
    font-size: 34px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px; }
    .b04 .showcase-more span {
      cursor: pointer;
      position: relative;
      display: inline-block;
      border-bottom: 2px dotted #fff; }
      .b04 .showcase-more span:before {
        top: 25px;
        left: -520px;
        content: '';
        width: 500px;
        position: absolute;
        border-bottom: 2px solid #fff; }
      .b04 .showcase-more span:after {
        top: 25px;
        right: -520px;
        content: '';
        width: 500px;
        position: absolute;
        border-bottom: 2px solid #fff; }
  .b04 .showcase-hide {
    color: #fff;
    font-size: 34px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px; }
    .b04 .showcase-hide span {
      cursor: pointer;
      position: relative;
      display: inline-block;
      border-bottom: 2px dotted #fff; }
      .b04 .showcase-hide span:before {
        top: 25px;
        left: -520px;
        content: '';
        width: 500px;
        position: absolute;
        border-bottom: 2px solid #fff; }
      .b04 .showcase-hide span:after {
        top: 25px;
        right: -520px;
        content: '';
        width: 500px;
        position: absolute;
        border-bottom: 2px solid #fff; }
  .b04 .showcase-hidden {
    display: none; }

.b05 {
  height: 470px;
  padding-top: 50px;
  background: url("../img/b05_bg.jpg") top center no-repeat; }
  .b05 .text-block {
    float: left;
    width: 635px;
    padding-top: 120px; }
    .b05 .text-block .block-title {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 30px;
      text-transform: uppercase;
      text-shadow: -3px 6px 30px rgba(0, 0, 0, 0.3); }
    .b05 .text-block .white-text {
      color: #000;
      width: 610px;
      height: 42px;
      font-size: 14px;
      font-weight: 700;
      line-height: 36px;
      padding: 3px 10px 3px 20px;
      position: relative;
      background: #fff; }
      .b05 .text-block .white-text:before {
        top: 0;
        right: -41px;
        content: '';
        position: absolute;
        border: 21px solid transparent;
        border-left: 20px solid #fff; }
  .b05 .b05-form {
    width: 330px;
    float: right;
    background: #fff;
    padding: 25px 20px; }

.b06 {
  padding: 60px 0; }
  .b06 h2 {
    margin-bottom: 45px; }
    .b06 h2:before {
      background: #b2c972; }
  .b06 .who {
    position: relative; }
    .b06 .who .btn-mini-green {
      left: 30px;
      bottom: 21px;
      position: absolute; }

.b07 {
  color: #fff;
  height: 950px;
  padding-top: 45px;
  background: url("../img/b07_bg.jpg") top center no-repeat; }
  .b07 h2 {
    margin-bottom: 30px; }
    .b07 h2:before {
      background: #b2c972; }
  .b07 .text {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .b07 .manufacture {
    padding: 0;
    list-style: none;
    margin: 0 -4px 50px -4px; }
    .b07 .manufacture li {
      width: 20%;
      float: left;
      padding: 0 4px;
      position: relative; }
      .b07 .manufacture li span {
        top: 6px;
        left: 10px;
        right: 10px;
        bottom: 6px;
        display: block;
        cursor: pointer;
        position: absolute;
        border: 1px solid #fff; }
      .b07 .manufacture li a {
        top: 6px;
        left: 10px;
        right: 10px;
        bottom: 6px;
        display: block;
        cursor: pointer;
        position: absolute;
        border: 1px solid #fff; }
        .b07 .manufacture li a:hover {
          background: rgba(255, 255, 255, 0.8) url("../img/icon-zoom.png") 50% 50% no-repeat; }
  .b07 .boss {
    margin-left: 370px; }
    .b07 .boss .boss-title {
      font-size: 30px;
      line-height: 40px;
      position: relative;
      margin-bottom: 25px;
      padding-bottom: 15px; }
      .b07 .boss .boss-title:before {
        left: 0;
        bottom: 0;
        width: 165px;
        height: 3px;
        content: ' ';
        position: absolute;
        background: #b2c972; }
    .b07 .boss .boss-text {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 20px; }
    .b07 .boss .boss-name {
      font-size: 13px;
      line-height: 22px;
      margin-bottom: 25px; }

.b08 {
  padding: 60px 0; }
  .b08 h2 {
    margin-bottom: 30px; }
    .b08 h2:before {
      background: #b2c972; }
  .b08 .partners {
    padding: 0;
    margin: 0 -9px;
    list-style: none; }
    .b08 .partners li {
      width: 20%;
      float: left;
      padding: 0 9px; }
      .b08 .partners li img {
        border: 1px solid #ebebeb; }

.b09 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../img/b09_bg.jpg") top center no-repeat; }
  .b09 h2 {
    margin-bottom: 30px; }
    .b09 h2:before {
      background: #b2c972; }
  .b09 .reply {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: center; }
    .b09 .reply li {
      width: 245px;
      height: 319px;
      padding: 42px;
      margin: 0 40px;
      display: inline-block;
      background: url("../img/cert_bg.jpg") 0 0 no-repeat;
      -webkit-box-shadow: 19px 20px 27px 1px rgba(0, 0, 0, 0.42);
      box-shadow: 19px 20px 27px 1px rgba(0, 0, 0, 0.42); }

.b10 {
  height: 460px;
  position: relative; }
  .b10 #map {
    height: 460px; }
  .b10 .b10-content {
    top: 0;
    left: 0;
    right: 0;
    position: absolute; }
  .b10 .address {
    top: 70px;
    right: 15px;
    width: 330px;
    padding: 25px 23px;
    background: #fff;
    position: absolute; }
    .b10 .address .address-title {
      font-size: 38px;
      line-height: 40px;
      position: relative;
      margin-bottom: 15px;
      padding-bottom: 15px; }
      .b10 .address .address-title:before {
        left: 0;
        bottom: 0;
        width: 48px;
        height: 3px;
        content: ' ';
        position: absolute;
        background: #b2c972; }
    .b10 .address ul {
      margin: 0;
      list-style: none;
      padding: 5px 0 15px 0; }
      .b10 .address ul li {
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        position: relative;
        margin-bottom: 10px; }
    .b10 .address .btn {
      width: 100%; }

.footer {
  padding-top: 35px;
  padding-bottom: 40px; }
  .footer .footer-logo {
    float: left;
    width: 152px;
    margin-right: 40px; }
  .footer .footer-info {
    margin: 0;
    padding: 20px 0 0 0;
    float: left;
    width: 280px;
    list-style: none; }
    .footer .footer-info li {
      font-size: 13px;
      line-height: 24px; }
  .footer .footer-dev {
    float: left;
    width: 180px;
    padding-top: 20px; }
  .footer .contact {
    width: 275px;
    float: right; }
    .footer .contact .top-phone {
      color: #000;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 15px;
      display: inline-block;
      text-decoration: none; }
    .footer .contact .top-mail {
      color: #000;
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      position: relative;
      margin-left: 20px;
      margin-bottom: 20px;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px dashed #000; }
      .footer .contact .top-mail:before {
        top: 6px;
        left: -20px;
        width: 15px;
        height: 11px;
        content: ' ';
        position: absolute;
        background: url("../img/icon-mail-dark.png") 0 0 no-repeat; }
      .footer .contact .top-mail:hover {
        border-bottom-color: transparent; }

.goods {
  width: 850px;
  padding: 30px;
  background: #fff;
  position: relative; }
  .goods .goods-side {
    float: left;
    width: 250px;
    position: relative; }
    .goods .goods-side .goods-image {
      text-align: center;
      margin-bottom: 25px; }
      .goods .goods-side .goods-image img {
        display: inline-block;
        max-width: 100%;
        height: auto; }
    .goods .goods-side ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .goods .goods-side ul li {
        width: 175px;
        margin: 0 auto 20px auto; }
  .goods .goods-content {
    float: right;
    width: 520px; }
    .goods .goods-content .goods-type {
      font-size: 22px;
      margin-bottom: 10px; }
    .goods .goods-content .goods-name {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 20px; }
    .goods .goods-content .goods-valid {
      padding: 0;
      list-style: none;
      margin: 0 -10px 25px -10px; }
      .goods .goods-content .goods-valid li {
        float: left;
        width: 33.33%;
        padding: 0 10px 0 30px;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 10px;
        background: url("../img/icon-goods-list.png") 0 50% no-repeat; }
    .goods .goods-content h4 {
      font-size: 14px;
      margin-bottom: 10px; }
    .goods .goods-content h3 {
      padding: 15px 0;
      font-size: 22px;
      line-height: 30px; }
    .goods .goods-content p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 5px; }

/*# sourceMappingURL=main.css.map */
