.b08 {
	padding: 60px 0;

	h2 {
		margin-bottom: 30px;

		&:before {
			background: $color-green;
		}
	}

	.partners {
		padding: 0;
		margin: 0 -9px;
		list-style: none;

		li {
			width: 20%;
			float: left;
			padding: 0 9px;

			img {
				border: 1px solid #ebebeb;
			}
		}
	}
}